@font-face {
    font-family: 'Rocline';
    src: url(font/RoclinePersonalUseOnly-Regular.ttf);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5e00;
  padding: 19px 70px;
}

h1{
  font-family: 'Rocline';
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0px;
   
}

.navbar a{
  font-size: 22px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 30px;
  
  
}

h2{
  font-size: 30px;
  font-family:'Rocline';
  font-weight: bold;
  color: rgb(0, 0, 0);
}

p {
  line-height: 1.5;
  font-size: 20px;
}

body{
  margin: 0;
  background-color: rgba(244, 244, 244, 0.687);  
}